html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.input-block {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.country-block__sections {
  border: 1px solid black;
  display: flex;
}

.country-block__name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.country-block__points {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.country-block {
  margin: 0 auto;
  width: 60%;
}

.country-block__flag-block {
  margin: 20px;
  width: 50%;
}

.country-block__info-block {
  margin: 20px;
  width: 50%;
}

.countries-list {
  text-align: left;
}

.countries-list-item {
  font-size: 14px;
}
